@charset "UTF-8";
@import "http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic";
@import url(./fontello.css);
@import url(pygments.css);
* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0; }

h1 {
  font-family: "Oswald", sans-serif; }

h2,
h3 {
  font-family: "Droid Serif", serif; }

p {
  font-family: "Droid Serif", serif; }

.container__content,
.container__content--docs {
  font-family: "Lucida Console", "Terminal", "sans-serif"; }

.icon-anchor {
  display: block;
  float: left;
  color: #999;
  margin-left: -3.5rem;
  border-bottom: 1px solid transparent;
  font-size: 1.5rem; }
  .icon-anchor:hover {
    color: #aaa4bc;
    border-bottom: 1px dotted #aaa4bc; }

.toc__item--active:before,
.toc__item--active::before {
  content: "\e800";
  font-family: "fontello"; }

blockquote:before,
blockquote::before {
  font-family: "fontello";
  content: "\e803";
  position: absolute; }

.toc__item--active:before,
.toc__item--active::before {
  content: "";
  font-family: "fontello";
  text-decoration: none;
  color: #efefef;
  background: #2388b9;
  padding: 0.1rem; }

a {
  color: #2388b9; }
  a:hover {
    color: #175979; }

a[name] {
  color: #1a1a1a; }

html {
  font-size: 100%;
  font-size: 1em; }

h1,
h2,
h3 {
  padding-left: 2rem; }

h1 {
  font-size: 2.25em;
  line-height: 1.2143em;
  margin-top: 1.2143em;
  margin-bottom: 0em;
  font-weight: 700;
  text-transform: uppercase; }

h2 {
  font-size: 1.625em;
  line-height: 1.3077em;
  margin-top: 1.3077em;
  margin-bottom: 0em;
  font-weight: 400;
  font-style: italic; }

h3 {
  font-size: 1.375em;
  line-height: 1.5455em;
  margin-top: 1.5455em;
  margin-bottom: 0em;
  font-weight: 400;
  font-style: italic; }

p {
  line-height: 2.125em;
  font-size: 1em;
  margin-bottom: 1.888em; }

header {
  margin-bottom: 1em; }

nav.toc__list section ul li {
  line-height: 1.5em;
  font-size: 0.875em; }

code {
  font-size: 0.812em; }

.highlight pre {
  font-size: 0.812em;
  line-height: 1.25em; }

.highlightable code {
  line-height: 1.25em; }

.highlight pre code,
.highlightable {
  font-size: 0.812em; }

.highlight pre code {
  width: 100%;
  white-space: pre; }

.lineno:after,
.lineno::after {
  font-size: 0; }

.icon-anchor {
  font-size: 1.5rem;
  float: left;
  display: block; }

header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

a.header__banner {
  flex-basis: 50%;
  display: flex;
  justify-content: center; }

.container__content {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }

.container__content--docs {
  flex-basis: 50%;
  margin-left: 25%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }

header {
  background-color: #eee;
  padding: 3rem 0; }

blockquote {
  border-left: 0.5rem solid lightblue;
  background: #eee;
  margin-left: 0;
  padding-left: 1rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem; }

blockquote:before,
blockquote::before {
  color: #f7803c;
  margin-left: -3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background: lightblue;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%; }

code {
  padding-right: 2px;
  padding-left: 4px;
  border-radius: 3px;
  color: #565656; }

code {
  letter-spacing: 0.02em;
  padding-right: 2px;
  padding-left: 4px;
  border-radius: 3px;
  color: #565656;
  font-weight: 500;
  font-family: "Lucida Console", "Terminal", "sans-serif"; }

.docs-prevnext {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  background: #ddd;
  height: 4rem;
  padding-top: 1rem; }

.docs-prevnext a {
  color: #111;
  padding: 0 0.5rem; }

nav {
  flex-basis: 50%; }
  nav ul {
    display: flex;
    flex-flow: row wrap; }
    nav ul li {
      flex-basis: 10%; }

nav.toc__list {
  flex-basis: 20%;
  position: fixed;
  width: 20%; }
  nav.toc__list ul {
    display: block; }

code {
  letter-spacing: 0.02em;
  padding-right: 2px;
  padding-left: 4px;
  border-radius: 3px;
  color: #565656;
  font-weight: 500;
  font-family: "Lucida Console", "Terminal", "sans-serif"; }

.highlight pre {
  font-size: 13px;
  line-height: 20px;
  padding: 0 0 20px 20px; }

.highlighttable .highlight pre {
  padding: 0; }

.highlighttable code {
  padding-right: 10px;
  margin: 0;
  padding-left: 2px;
  font-size: 12px;
  display: block;
  line-height: 20px;
  white-space: pre;
  color: #d68b00; }

.highlight pre code, .highlighttable {
  display: block;
  padding: 0;
  font-size: 13px;
  border-left: 0.5rem solid #d68b00;
  padding: 5px 10px;
  box-sizing: border-box;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  background-color: rgba(226, 141, 49, 0.1); }

.highlighttable:before,
.highlighttable::before {
  font-family: "fontello";
  color: #efefef;
  content: "\e802";
  position: absolute;
  margin-left: -2.9rem;
  padding: 0.5rem;
  background: #d68b00;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%; }

.highlight pre code {
  width: 100%;
  white-space: pre; }

.lineno {
  color: #d68b00; }

.lineno::after {
  content: ";";
  font-size: 0; }

.highlight pre code.language-verilog {
  border-left: 0.5rem solid #6b6b6b;
  background-color: rgba(138, 138, 138, 0.1);
  color: #1a1a1a; }

/*# sourceMappingURL=website.css.map */
